.git
.DS_Store
.env
.env.*
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
artifacts
docs/generated-docx
docs/templates
mysql-data
minio-data
meilisearch-data
supertokens-pg-data
vendure-data
