node_modules
package-lock.json
.vscode
.DS_Store
.env
.env.*
backend/.env
backend/.env.*
docker-compose.override*.yml
.apt-meili
.local
dist
coverage
frontend/dist
backend/dist
backend/generated
mysql-data
minio-data
meilisearch-data
supertokens-pg-data
vendure-data
